            @media (max-width: 1000px) {
                .video-responsywne iframe {
                    width: 100%;
                    height: 500px;
                }
            }
            
            @media (max-width: 600px) {
                .video-responsywne iframe {
                    width: 100%;
                    height: 350px;
                }
            }
            
            @media (max-width: 400px) {
                .video-responsywne iframe {
                    width: 100%;
                    height: 200px;
                }
            }


