    body {
        box-sizing: border-box;
        margin: 0;
    }
    
    div#jeden {
        height: 300px;
        width: 300px;
        background-color: red;
        position: relative;
    }
    
    div#drugi {
        position: absolute;
        height: 150px;
        width: 150px;
        background-color: blue;
        top: 25%;
        left: 25%;
    }
    
    #ikona a {
        text-decoration: none;
        color: black;
    }
    
    #ikona a i {
        border: 2px solid black;
        border-radius: 86px;
        font-size: 63px;
        width: 88px;
        height: 67px;
        text-align: center;
        padding-top: 12px;
    }
    
    #ikona button i {
        border: 2px solid black;
        border-radius: 86px;
        font-size: 63px;
        width: 88px;
        height: 67px;
        text-align: center;
        padding-top: 12px;
    }
    
    #gradient {
        width: 100%;
        height: 100px;
        margin: auto;
/*        background: linear-gradient(blue, red, yellow);*/
                   
    background: red;  
    background: linear-gradient(to right, red , yellow, blue, green, purple); 
}
    
    
    .video-responsywne iframe {
        width: 100%;
        height: 700px;
    }


#lista ul {
    list-style: none;
}

input::placeholder{
    color: red;
}

#pobieranie {
    margin: 50px;
}



#pobieranie a{
    display: block;
    text-decoration: none;
    color: black;
    
}

#pobieranie a[href$=".doc"] {
    color: red;
}

#pobieranie a[href$=".docx"] {
    color: green;
}



#cytaty blockquote:lang(en)::before, #cytaty blockquote:lang(en)::after {
    
    content: '*';
    
}

#cytaty blockquote:lang(pl)::before, #cytaty blockquote:lang(pl)::after {
    content: '"';
}

footer#stopka {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: hotpink;
}

#tlo {
    overflow: hidden;
    
    padding-left: 50%;
    background-image: url(../img/image4.jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 57vh;
    
    transition: all 0.5s;
}

#overflow {
    border: solid 20px green;
    height: 200px;
    width: 700px;
    margin: 200px;
    margin-bottom: 0;
    overflow: hidden;
}

#tlo:hover {
    transform: scale(1.5);
}

#tlo p {
    padding-top: 50px;
    overflow: hidden;
    text-align: center;
    color: red;
    font-size: 10px;
    transform: scale(1.5);
}




#tlo i {
    
    color: red;
    animation-name: serce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    
}

@keyframes serce {
  
    
    0%, 40% {
        font-size: 10px;
    }
    
    20% {
        font-size: 30px;
    }
    
    70% {
        font-size: 60px;
    }
    
    
}



